{% extends 'home.html' %}

{% block HOME %}

	<div class = "notify-up"><p>SE ELIMINARON LOS DATOS</p></div>
	<table class="table table-hover">
		<caption>LISTA DE TESIS</caption>
		<thead>
			<tr>
				<th>n°</th>
				<th>Titulo</th>
				<th>Autor</th>
				<th>Institucion</th>
				<th>Tutor.I</th>
				<th>Tutor.A</th>
				<th>Status</th>
				<th>Inicio</th>
				<th>Final</th>
				<th>Nota.T.A</th>
				<th>Nota.T.I</th>
				<th>Nota.DEF</th>
				<th>PERIODO</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>

			{% for te in object_list %}
				<tr id = "autores">
					<td class="pk">{{te.ntesis}}</td>
					<td>{{te.title}}</td>
					<td>{{te.author}}</td>
					<td>{{te.enterprise}}</td>
					<td>{{te.tutorI}}</td>
					<td>{{te.tutorA}}</td>
					<td>{{te.status}}</td>
					<td>{{te.inicio}}</td>
					<td>{{te.final}}</td>
					<td>{{te.notaTA}}</td>
					<td>{{te.notaTI}}</td>
					<td>{{te.notaDEF}}</td>
					<td>{{te.period}}</td>
					<td ><a class="d" onclick = "dlt(event)" href="#"><i class="far fa-trash-alt"></i></a></td>
					<td><a class="d" href="http://127.0.0.1:8000/home/register/thesis?ntesis={{te.ntesis}}"><i class="fas fa-pen"></i></a></td>
					<td><a class="d" href="http://127.0.0.1:8000/home/report?ntesis={{te.ntesis}}"><i class="far fa-file"></i></a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<a class = "ant" href="http://127.0.0.1:8000/home">VOLVER AL INICIO</a>
	<script>

		var dlt = (event) => {

			let td = event.target.parentNode.parentNode
			var parent = td.parentNode
			let cd = {'ntesis' : parent.getElementsByClassName('pk')[0].innerHTML}

			let cabecera = {
				method:'delete',
				headers:{
					'content-type': 'application/json',
				},
				body: JSON.stringify(cd)
				
			}

			fetch('http://127.0.0.1:8000/home/register/thesis', cabecera).then(
				(resp) => parent.remove()
			)
		}
	</script>
	
{% endblock %} 