{% extends 'home.html' %}

{% block HOME %}

	<div class = "notify-up"><p>SE ELIMINARON LOS DATOS</p></div>
	<table class="table table-hover">
		<caption>LISTA DE TUTORES INDUSTRIALES DE TESIS</caption>
		<thead>
			<tr>
				<th>cedula</th>
				<th>nombres</th>
				<th>apellidos</th>
				<th>contacto</th>
				<th>direccion</th>
				<th>correo</th>
				<th>empresa</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>

			{% for tutor in object_list %}
				<tr id = "autores">
					<td class="pk">{{tutor.person.cd}}</td>
					<td>{{tutor.person.names}}</td>
					<td>{{tutor.person.surnames}}</td>
					<td>{{tutor.person.contact}}</td>
					<td>{{tutor.person.dirr}}</td>
					<td>{{tutor.person.mail}}</td>
					<td>{{tutor.enterprise.name}}-{{tutor.enterprise.riff}}</td>
					<td><a class="d" onclick = "dlt(event)" href="#"><i class="far fa-trash-alt"></i></a></td>
					<td><a class="d" href="http://127.0.0.1:8000/home/register/TI?cd={{tutor.person.cd}}"><i class="fas fa-pen"></i></a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<a class = "ant" href="http://127.0.0.1:8000/home">VOLVER AL INICIO</a>
	<script>

		var dlt = (event) => {

			let td = event.target.parentNode.parentNode
			var parent = td.parentNode
			let cd = {cd : parent.getElementsByClassName('pk')[0].innerHTML}
			console.log(cd)

			let cabecera = {
				method:'delete',
				headers:{
					'content-type': 'application/json',
				},
				body: JSON.stringify(cd)
				
			}

			fetch('http://127.0.0.1:8000/home/register/TI', cabecera).then(
				(resp) => parent.remove()
			)
		}
	</script>
	
{% endblock %} 