@import url('https://fonts.googleapis.com/css?family=Rubik');

* {
	padding: 0;
	border: 0;
	margin: 0;	
	box-sizing: border-box;
	font-family: 'Rubik', sans-serif;
}


header{
	width: 100%;
	height: 70vh;
	background-repeat: no-repeat;
	display: flex;
	margin-bottom: 50px;
}

.ant{
	color: #48FAA1;
}

.listar{
	background: green;
	border:none;
	margin: auto;
	width: 150px;
	height: 30px;
	margin-left: 46%;
	margin-top: 4%;
	margin-bottom: 5%;
}
.content-info-tesis, .opacity{
	color:white;
}

.d{
	color: black;
}
.opacity{

	position: relative;
	width: 100%;
	height: 100%;
	background: black;
	opacity: .7;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

a{
	text-decoration: none;
	color: white;
}

.content-info-tesis{
	width: 30%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	background: #48FAA1;
}

.content-img-header{
	width: 70%;
	height: 100%;
	background: url('../imgs/header.jpg');
	background-attachment: fixed; 
	background-size: 100%;
	background-repeat: no-repeat;
}

.content-img-header button{

	background: none;
	border: 1px solid white;
	padding: 10px;
	border-radius: 25px;
	margin-bottom: auto;
	margin-top: auto;
	transition: 0.3s;
	z-index: 0;
}

.content-img-header button:hover{
	border-radius: 0;
	border:1px solid transparent;
	background: #03D16A;
	opacity: 1;
}

.contentbuttons{
	width: 100%;
	text-align: center;
	height: 70px;
}
.BT{
	background: green;
	width: 100px;
	height: 30px;
	color: white;
}

#inscribir{
	width: 100px;
	height: 40px;
	  
}

.cons{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 400px;
	border: 1px solid #48FAA1;
	align-items: center;
	padding: 20px 30px 0px 10px;
}

.cons p{
	color: #48FAA1
}

.cons input{
	border: 1px solid #48FAA1;
	height: 30px;
}

.ins{
	width: 100%;
	height: 60vh;
	padding: 30px;
}

.slogan{
	text-align: center;
	width: 100%;
	font-size: 3em;
	color: black;
	margin-bottom: 20px;
}


#update{
	width: 40%;
	display: flex;
	border: 2px solid #48FAA1;
	margin: auto;
	height: 600px;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}

#update input{
	height: 30px;
}

#rgst, #rgta{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	height: 90%;
	border: 2px solid #48FAA1;
	justify-content: center;
	padding: 45px 20px;
	color:gray;
}

#rgst input, select{
	height: 30px;
	width: 20%;
	border: 1px solid #48FAA1;
	color: gray;
}

.enviar{
	margin-top: 5%;
	background: none;
	color: #48FAA1;
	border-radius:25px; 
	transition: .3s;
	color: gray;
}

.enviar:hover{
	background: #48FAA1;
	border-radius:0;
}


label{
	color: #48FAA1;
	font-size: 0.9em;
}

h1{
	text-align: center;
	margin-bottom: 60px;
}

#elmmod{
	
	width: 200px;
	height: 40px;
	margin-left: 50px;
}

.content-info-tesis h2{
	font-size: 50px;
}
.content-info-tesis p{
	margin-top: -270px;
	width: 70%;
	text-align: center;
}

#insta{
	margin-top: 70px;
	display: flex;
	margin-top: 25px;
	background: #03D83C;
	width: 100%;
	align-items: center;
}
.content-back-ta{
	width: 35%;
	height: 90vh;
	background: #5FD9FB;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 70px 10px;
	align-items: center;
}

.content-back-ta select, .content-back-ta option{
	border:none;
	background: none;
}

#rgta{
	align-items: center;
	margin: auto;
	width: 35vw;
	height: 80vh;
	background: white;

}

.content-form{
	width: 65%;
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url('../imgs/tutores.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: right; 
}

#rgta input, #rgta select{
	width: 90%;
	height: 30px;
	color: gray;
	border: 1px solid #48FAA1;
}

#jury .ins, .defending .ins{
	margin: auto auto 50px auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	width: 90%;
	height: 20vh;
	border: 2px solid #48FAA1;
}

 #jury .enviar, .defending .enviar{
 	margin: 0;
 	color: gray;
 }

#jury input, .defending input{
	width: 200px;
	border: 1px solid #48FAA1;
	height: 30px;
	color: gray;
}

nav{
	width: 75%;
	font-size: 0.9em;
	display: flex;
	justify-content: space-around;
	position: absolute;
	top: 40px;
}

nav a:hover{
	color:white;
}


select{
	color:gray;
}

.table thead{
	background: #48FAA1;
}

.table td, .table th{
	color: gray;
}

.fa-trash-alt{
	background: black;
	color:white; 
}

.fa-trash-alt:hover{
	background: red; 
	color:white;
}

.cursor{
	cursor: pointer;
}

.fa-pen{
	color: white;
	background: #03D83C;
}

.fa-pen:hover{
	color:white;
	background: #FED737;
}

.none{
	display: none;
	transition: .5s;
}

.display{
	display: flex;
}


.fa-chalkboard-teacher, .fa-user-graduate, .fa-people-carry{
	font-size: 7em;
}

.notas{
	width: 90%;
	margin: auto;
	height: 150px;
	text-align: center;
	background: #74F3F7;
	padding: 20px;
}

.notas h3, p{
	color: white;
}

.notas a{
	font-size: 12px;
}

.notas button{
	border: 2px solid white;
	width: 100px;
	height: 30px;
	border-radius: 20px;
	background: none;

}

.opacity .option{
	border: none;
}