{% extends 'home.html' %}

{% block HOME %}
	<section>
	
		<form method="put" class = "ins" action="#" id="update">
			{{form_p}}
			{{form}}
			{% if type == 't'%}
				<input type="date" name="inicio" />
				<input type="date" name="final" />

			{% elif  type == 'd' %}

				<input type="datetime-local" name="fecha" />
				<textarea name="observaciones" cols="50" rows="4"></textarea>
			{% endif %}

			<button type="button" onclick="mdf(event)"  value="Enviar" class="enviar">Enviar</button>
		</form>
	</section>

	<a class = "ant" href="{{urlAnt}}">VOLVER AL LISTADO ANTERIOR</a>
		
		<script type="text/javascript" charset="utf-8">

			{% if type == 'est' or type == 'ti' or type == 'ta' %}
				document.querySelector("#update input[name='cd']").disabled = true
			{% elif type == 'e' %}
				document.querySelector("#update input[name='riff']").disabled = true
			{% elif type == 't' %}
				document.getElementsByName("inicio")[0].value = "{{inicio}}"
				document.getElementsByName("final")[0].value = "{{final}}"
				var select = document.getElementById("id_status")

				select.addEventListener("change", disabledFields)
				var ta = document.getElementById("id_notaTA")
				var ti = document.getElementById("id_notaTI")
				var e = document.getElementById("id_status")


				if(e.value == 'elb' || e.value == 'rvs'){
					ta.value = ""
					ti.value = ""
					ta.disabled = true
					ti.disabled = true
				}

				function disabledFields(event){
					var e = document.getElementById("id_status")
					if(e.options[e.selectedIndex].value == 'elb' || e.options[e.selectedIndex].value == 'rvs'){
						document.getElementById("id_notaTA").value = null
						document.getElementById("id_notaTI").value = null
						document.getElementById("id_notaTA").disabled = true
						document.getElementById("id_notaTI").disabled = true
					}else if (event.target.value == 'ld' || event.target.value == 'rpb' || event.target.value == 'apb') {
						document.getElementById("id_notaTA").disabled = false
						document.getElementById("id_notaTI").disabled = false
					}
				}
			{% endif %}

			var mdf = (event) =>{

					let bodys = {

					{% if type == 'est' or type == 'ti' or type == 'ta' %}
						cd: document.querySelector("#update input[name='cd']").value,
						names: document.querySelector("#update input[name='names']").value,
						surnames: document.querySelector("#update input[name='surnames']").value,
						contact: document.querySelector("#update input[name='contact']").value,
						dirr: document.querySelector("#update input[name='dirr']").value,
						mail: document.querySelector("#update input[name='mail']").value,

					{% elif type == 'c' %}
						id: {{id}},
						name: document.getElementsByName("name")[0].value,

					{% elif type == 'd' %}
						ndef: {{id}},
						fecha: document.getElementsByName("fecha")[0].value,
						aula: document.getElementsByName("aula")[0].value,
						observaciones: document.getElementsByName("observaciones")[0].value,
						jurys: Array.prototype.slice.call(document.querySelectorAll('#id_jurys option:checked'),0).map(function(v,i,a) { 
   							 return v.value; 
						}),

					{% elif type == 't' %}
						ntesis: {{id}},
						inicio: document.getElementsByName("inicio")[0].value,
						final: document.getElementsByName("final")[0].value,
						tutorA: document.getElementsByName("tutorA")[0].value,
						tutorI: document.getElementsByName("tutorI")[0].value,
						author: document.getElementsByName("author")[0].value,
						status: document.getElementsByName("status")[0].value,
						title: document.getElementsByName("title")[0].value,
						notaTA: document.getElementsByName("notaTA")[0].value,
						notaTI: document.getElementsByName("notaTI")[0].value,
						enterprise: document.getElementsByName("enterprise")[0].value,

					{%elif type == 'e' %}

						riff: {{id}},
						name: document.querySelector("#update input[name='name']").value,
						contact: document.querySelector("#update input[name='contact']").value,
						dirr: document.querySelector("#update input[name='dirr']").value,
						mail: document.querySelector("#update input[name='mail']").value,
					{% endif %}

					{% if type == 'ti' %}
						enterprise: document.querySelector("#update #id_enterprise").value
					{% elif type == 'est' or type == 'ta' %}
						career: document.querySelector("#update #id_career").value
					{% endif %}
				}


				var cabecera = {
					method: 'PUT',
					headers: {
						'content-type': 'application/json',
					},
					body:JSON.stringify(bodys)
				}
				

				fetch("{{objectUrl}}", cabecera).then((resp) => {
						alert(String(resp))
				})
			}
		</script>
{% endblock %}