{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Gestor de tesis</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

</head>
<body>

	{% block HOME %}

		<header>
			<div class="content-info-tesis">
				<h2>TESIS</h2>
				<p>Seleccione cualquiera de las opciones que mas le convenga</p>
			</div>
			<div class = "content-img-header">
				<div class="opacity">
					<nav>
						<button class = "option" id="ir_t">TESIS</button>
						<button class = "option" id="ir_ta">TUTORES O AUTORES</button>
						<button class = "option" id="ir_j">JURADOS</button>
						<button class = "option" id="ir_def">DEFENSAS</button>
						<button class = "option" id="ir_emp">EMPRESA</button>

					</nav>
					<h1>LO QUE USTED CREA MAS CONVENIENTE, POR QUE SU COMODIDAD ES NUESTRA MAYOR PRIORIDAD</h1>
					<div class="content">
						<button id="inscribir">INSCRIBIR</button>
						<button id="elmmod"><a href="http://127.0.0.1:8000/home/listthesis">MODIFICAR/ELIMINAR</a></button>
					<div>
				</div>
			</div>
		</header>
		{% block ME_THESIS%}
			<div class="slogan">Registre tesis de una forma rapida y segura</div>
			<section id="insthesis" class = "ins">
				<form method="post" action="http://127.0.0.1:8000/home/register/thesis" id="rgst">
					{{form_to_thesis}}
					<label for="id_inicio">INICIO:</label><input type="date" name="inicio" required=""/>
					<label for="id_final">FINAL:</label><input type="date" name="final" required=""/>

					<input type="submit" class="enviar" />
				</form>
			</section>
			
			<div class="contentbuttons">
				<button class="BT"><a href="http://127.0.0.1:8000/home/listthesis">LISTAR</a></button>
				<button class="BT" onclick="display('rgt')">CONSULTAR</button>
			</div>
			<section class = "none"  id = "rgt">
				<form method = "get" class = "ins cons" action = "http://127.0.0.1:8000/home/detail/thesis">
					<label for="cd">CEDULA</label><input type="text" name ="cd" id="cd"></input>
					<input type="submit" value="Enviar" class="enviar" />
				</form>
				<form method = "get" class = "ins cons" action = "http://127.0.0.1:8000/home/detail/periodthesis">
					<label for="inicio">Inicio</label><input type="date" name ="inicio" id="inicio"></input>
					<label for="inicio">Finalizacion</label><input type="date" name ="final" id="final"></input>
					{{detail}}
					<p>APROBADAS</p><input type="checkbox" name = "aprobate"></input>
					<input type="submit" value="Enviar" class="enviar" />
				</form>
			</section>


		{% endblock %}

		<div class="slogan">¡¡¡Registre a sus excelentes tutores y estudiantes!!!</div>
		<section id="insta">
			{% block ME_TA %}
				<div class = "content-back-ta">
						
						<a href="http://127.0.0.1:8000/home">TUTOR ACADEMICO<i class="fas fa-chalkboard-teacher"></i></a>
						<a href="http://127.0.0.1:8000/home?type=1">AUTOR<i class="fas fa-user-graduate"></i></a>
						<a href="http://127.0.0.1:8000/home?type=2">TUTOR INDUSTRIAL<i class="fas fa-people-carry"></i></a>	

						<div class="content">
							<button id="elmmod"><a href="{{urllist}}">MODIFICAR/ELIMINAR</a></button>
						</div>
					</div>
				</div>
				<div class="content-form">
				{% block form_rg %}
				<form method="post" action= {{urlrg}} id="rgta">{% csrf_token %}
						{{form_p}}
						{{form}}
				
					<input type="submit" class="enviar" />
				</form>
					{{form_p.errors}}
					{{form.errors}}
				{% endblock %}
			</div>
			{% endblock %}
		</section>
		<div class="slogan">Agregue mas carreras Universitarias</div>
		<section id="jury">
			<form action="http://127.0.0.1:8000/home/register/career" method="post" class ="ins">
				{{form_to_career}}
				<input type="submit" value="Enviar" class="enviar" />
			</form>
		</section>
		<button class="listar"><a href="http://127.0.0.1:8000/home/listcaarer">LISTAR</a></button>


		<div class="slogan">¡Configura las defensas de tesis!</div>
		<section class="defending" id = "def">
			<form method = "post" action="/home/defending" class="ins">{% csrf_token %}
				{{form_to_defending}}
				<input type="datetime-local" name="fecha" pattern="[0-9]{2}[0-9]{2}[0-9]{4}" />
				<input type="submit" class="enviar" value="Enviar">
			</form>
				{{form_to_defending.erros}}
			<button class="listar"><a href="http://127.0.0.1:8000/home/listdefending">LISTAR</a></button>

			<div class="notas" >
				<h3>¡CON TAN SOLO UN CLICK PUEDE REGISTRAR LA NOTA DE TODOS TUS JURADOS!</h3>
				<button type="button" onclick="display('rgnot')"><p>COMIENZA</p></button>
			</div>
			<section class = "none"  id = "rgnot">
				<form method = "post" class = "ins" action = "http://127.0.0.1:8000/home/register/nota">
					{{formn}}
					<input type="submit" value="Enviar" class="enviar" />
				</form>
			</section>

			<button class="listar"><a href="http://127.0.0.1:8000/home/listnotas">LISTAR</a></button>

		</section>
			
		<div class="slogan">Comencemos agregando las posibles empresas para las tesis</div>
		<section class = "defending"  id="enter">
			<form action="http://127.0.0.1:8000/home/register/enterprise" method="post" class = "ins">{% csrf_token %}
				{{form_to_enterprise}}
				<input type="submit" name="enviar" value="Enviar" class="enviar"/>
			</form>
			<button class="listar"><a href="http://127.0.0.1:8000/home/listenterprise">LISTAR</a></button>

		</section>

		<script src="http://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>

		<script  type="text/javascript" charset="utf-8">
			
			var select = document.getElementById("id_status")

			select.addEventListener("change", disabledFields)
			document.getElementById("id_notaTA").disabled = true
			document.getElementById("id_notaTI").disabled = true

			function disabledFields(event){
				var e = document.getElementById("id_status")
				if(e.options[e.selectedIndex].value == 'elb' || e.options[e.selectedIndex].value == 'rvs'){
					document.getElementById("id_notaTA").value = null
					document.getElementById("id_notaTI").value = null
					document.getElementById("id_notaTA").disabled = true
					document.getElementById("id_notaTI").disabled = true
				}else if (event.target.value == 'ld' || event.target.value == 'rpb' || event.target.value == 'apb') {
					document.getElementById("id_notaTA").disabled = false
					document.getElementById("id_notaTI").disabled = false
				}
			}

			var display = (id) => {
				section = document.getElementById(id)

				if(section.className == "none")
					section.className = "display"
				else
					section.className = "none"
	
			}

			$("#ir_t").click(function () {
   				 $('html,body').animate({
     			   scrollTop: $("#insthesis").offset().top
   				 }, 1000);
				});

			$("#ir_ta").click(function () {
   				 $('html,body').animate({
     			   scrollTop: $("#insta").offset().top
   				 }, 1000);
				});

			$("#ir_j").click(function () {
   				 $('html,body').animate({
     			   scrollTop: $("#jury").offset().top
   				 }, 1000);
				});

				$("#ir_def").click(function () {
   				 $('html,body').animate({
     			   scrollTop: $("#def").offset().top
   				 }, 1000);
				});

				$("#ir_emp").click(function () {
   				 $('html,body').animate({
     			   scrollTop: $("#enter").offset().top
   				 }, 1000);
				});

				$("#inscribir").click(function () {
   				 $('html,body').animate({
     			   scrollTop: $("#insthesis").offset().top
   				 }, 1000);
				});
				
		</script>
	{% endblock %}
	

</body>
</html>
